
@{
    ViewData["Title"] = "صفحه اصلی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row grid">
    <div class="col-md-3 col-sm-6 col-xs-12 grid-item wow zoomIn">
        <div class="dashbord">
            <div class="dashbord__top">
                <i class="pe-7s-note dashbord__top__icon"></i>
                <div class="dashbord__top__txt">مدیریت روتین ها </div>
            </div>
            <div class="dashbord__bottom">
                <ul>
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>
                    <li><a class="dashbord__bottom__link">مدیریت روتین ها</a></li>
                </ul>
            </div>
        </div>
    </div>   
    <div class="col-md-3 col-sm-6 col-xs-12 grid-item wow zoomIn">
        <div class="dashbord">
            <div class="dashbord__top">
                <i class="pe-7s-note dashbord__top__icon"></i>
                <div class="dashbord__top__txt">مدیریت روتین ها </div>
            </div>
            <div class="dashbord__bottom">
                <ul>
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>
                    <li><a class="dashbord__bottom__link">مدیریت روتین ها</a></li>
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>
                    <li><a class="dashbord__bottom__link">مدیریت روتین ها</a></li>
                </ul>
            </div>
        </div>
    </div>   
    <div class="col-md-3 col-sm-6 col-xs-12 grid-item wow zoomIn">
        <div class="dashbord">
            <div class="dashbord__top">
                <i class="pe-7s-note dashbord__top__icon"></i>
                <div class="dashbord__top__txt">مدیریت روتین ها </div>
            </div>
            <div class="dashbord__bottom">
                <ul>
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>                    
                </ul>
            </div>
        </div>
    </div>   
    <div class="col-md-3 col-sm-6 col-xs-12 grid-item wow zoomIn">
        <div class="dashbord">
            <div class="dashbord__top">
                <i class="pe-7s-note dashbord__top__icon"></i>
                <div class="dashbord__top__txt">مدیریت روتین ها </div>
            </div>
            <div class="dashbord__bottom">
                <ul>
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>                    
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>                    
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>                    
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>                    
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>                    
                </ul>
            </div>
        </div>
    </div>   
    <div class="col-md-3 col-sm-6 col-xs-12 grid-item wow zoomIn">
        <div class="dashbord">
            <div class="dashbord__top">
                <i class="pe-7s-note dashbord__top__icon"></i>
                <div class="dashbord__top__txt">مدیریت روتین ها </div>
            </div>
            <div class="dashbord__bottom">
                <ul>
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>                                                        
                </ul>
            </div>
        </div>
    </div>   
    <div class="col-md-3 col-sm-6 col-xs-12 grid-item wow zoomIn">
        <div class="dashbord">
            <div class="dashbord__top">
                <i class="pe-7s-note dashbord__top__icon"></i>
                <div class="dashbord__top__txt">مدیریت روتین ها </div>
            </div>
            <div class="dashbord__bottom">
                <ul>
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>                    
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>                                                          
                </ul>
            </div>
        </div>
    </div>   
    <div class="col-md-3 col-sm-6 col-xs-12 grid-item wow zoomIn">
        <div class="dashbord">
            <div class="dashbord__top">
                <i class="pe-7s-note dashbord__top__icon"></i>
                <div class="dashbord__top__txt">مدیریت روتین ها </div>
            </div>
            <div class="dashbord__bottom">
                <ul>
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>
                    <li><a class="dashbord__bottom__link">مدیریت روتین ها</a></li>
                </ul>
            </div>
        </div>
    </div>   
    <div class="col-md-3 col-sm-6 col-xs-12 grid-item wow zoomIn">
        <div class="dashbord">
            <div class="dashbord__top">
                <i class="pe-7s-note dashbord__top__icon"></i>
                <div class="dashbord__top__txt">مدیریت روتین ها </div>
            </div>
            <div class="dashbord__bottom">
                <ul>
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>
                    <li><a class="dashbord__bottom__link">مدیریت روتین ها</a></li>
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>
                    <li><a class="dashbord__bottom__link">مدیریت روتین ها</a></li>
                </ul>
            </div>
        </div>
    </div>   
    <div class="col-md-3 col-sm-6 col-xs-12 grid-item wow zoomIn">
        <div class="dashbord">
            <div class="dashbord__top">
                <i class="pe-7s-note dashbord__top__icon"></i>
                <div class="dashbord__top__txt">مدیریت روتین ها </div>
            </div>
            <div class="dashbord__bottom">
                <ul>
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>                    
                </ul>
            </div>
        </div>
    </div>   
    <div class="col-md-3 col-sm-6 col-xs-12 grid-item wow zoomIn">
        <div class="dashbord">
            <div class="dashbord__top">
                <i class="pe-7s-note dashbord__top__icon"></i>
                <div class="dashbord__top__txt">مدیریت روتین ها </div>
            </div>
            <div class="dashbord__bottom">
                <ul>
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>                    
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>                    
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>                    
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>                    
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>                    
                </ul>
            </div>
        </div>
    </div>   
    <div class="col-md-3 col-sm-6 col-xs-12 grid-item wow zoomIn">
        <div class="dashbord">
            <div class="dashbord__top">
                <i class="pe-7s-note dashbord__top__icon"></i>
                <div class="dashbord__top__txt">مدیریت روتین ها </div>
            </div>
            <div class="dashbord__bottom">
                <ul>
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>                                                        
                </ul>
            </div>
        </div>
    </div>   
    <div class="col-md-3 col-sm-6 col-xs-12 grid-item wow zoomIn">
        <div class="dashbord">
            <div class="dashbord__top">
                <i class="pe-7s-note dashbord__top__icon"></i>
                <div class="dashbord__top__txt">مدیریت روتین ها </div>
            </div>
            <div class="dashbord__bottom">
                <ul>
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>                    
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>                                                          
                </ul>
            </div>
        </div>
    </div>   
</div>