@{
    ViewData["Title"] = "کارتابل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wow zoomIn">
     <div class="col-md-12 text-center">
        <img src="~/assets/images/kartable.jfif" class="kartable-img" />
        <p class="kartable-txt">کارتابل روال</p>
    </div>
</div>

<div class="row grid">   
    <div class="col-md-4 col-sm-6 col-xs-12 grid-item wow zoomIn">
        <div class="dashbord">
            <div class="dashbord__top">
                <i class="pe-7s-news-paper dashbord__top__icon"></i>
                <div class="dashbord__top__txt">کارتابل کارگروه دانشگاهی</div>
            </div>
            <div class="dashbord__bottom">
                <ul>
                    <li><a class="dashbord__bottom__link">ایجاد کردن روتین جدید</a></li>
                    <li><a class="dashbord__bottom__link">مدیریت روتین ها</a></li>
                </ul>
            </div>
        </div>
    </div>   
    <div class="col-md-4 col-sm-6 col-xs-12 grid-item wow zoomIn">
        <div class="dashbord">
            <div class="dashbord__top">
                <i class="pe-7s-edit dashbord__top__icon"></i>
                <div class="dashbord__top__txt">امکانات مدیریتی</div>
            </div>
            <div class="dashbord__bottom">
                <ul>
                    <li><a class="dashbord__bottom__link">امکانات مدیریتی</a></li>                    
                </ul>
            </div>
        </div>
    </div>   
    <div class="col-md-4 col-sm-6 col-xs-12 grid-item wow zoomIn">
        <div class="dashbord">
            <div class="dashbord__top">
                <i class="pe-7s-mail dashbord__top__icon"></i><span class="badge" style="position: relative;left: 15px;top: -11px;">5</span>
                <div class="dashbord__top__txt">صندوق پیام ها </div>
            </div>
            <div class="dashbord__bottom">
                <ul>
                                    
                </ul>
            </div>
        </div>
    </div>         
</div>