@{
    ViewData["Title"] = "ورود";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .header , .menu {
        display: none;
    }
    .main {
        margin: 0;
        padding: 0;

    }
    #loading-bar .bar {
        background: red !important;
        height: 4px !important;
    }
</style>
<div class="login">

</div>