@{
    ViewData["Title"] = "ورود";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .header , .menu {
        display: none;
    }
    .main {
        margin: 0;
        padding: 0;

    }
    #loading-bar .bar {
        background: red !important;
        height: 4px !important;
    }
</style>
<form>
    <div class="login">
        <div class="login__box">
            <div>
                <i class="pe-7s-user pe-4x"></i>
            </div>
            <div class="login__box__title">ورود به پنل</div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="نام کاربری خود را وارد کنید " />
            </div>
            <div class="form-group">
                <input class="form-control" type="password" placeholder=" رمز عبور خود را وارد کنید " />
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-block" style="border-radius:5px;">ورود </button>
            </div>
            <div class="login__box__footer">
                <a class="login__box__footer__link">رمز عبور خود را فراموش کردم</a>
            </div>
        </div>
    </div>
</form>