<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" />
     <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.css" />
     <link rel="stylesheet" href="~/assets/styles/font-fa.css?v1.5.1">
     <link rel="stylesheet" href="~/assets/styles/style.rtl.css">
    <link rel="stylesheet" href="~/assets/styles/styles.css?v1.8.0">
    <link rel="stylesheet" href="~/assets/styles/style-overwrite.rtl.css?v1.10.5" />
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
