<!DOCTYPE html>

<html dir="rtl">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/assets/styles/font-fa.css">
    <link rel="stylesheet" href="~/assets/styles/style.rtl.css">
    <link rel="stylesheet" href="~/assets/styles/styles.css">
    <link rel="stylesheet" href="~/assets/styles/style-overwrite.rtl.css" />

    <link rel="stylesheet" href="~/assets/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="~/assets/fonts/pe-icon-7-stroke/css/helper.css" />

    <link rel="stylesheet" href="~/assets/angularjs/loading-bar/loading-bar.css" />
</head>
<body ng-app="myApp">
    <div ng-controller="loadingBar"></div>
    <div ng-controller="myController" ng-cloak>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    

    <script src="~/assets/angularjs/angular.min.js"></script>
    <script src="~/assets/angularjs/loading-bar/loading-bar.js"></script>
    <script src="~/assets/angularjs/app.js"></script>
    <script src="~/assets/angularjs/controllers/myController.js"></script>
    <script src="~/assets/angularjs/services/myService.js"></script>
</body>
</html>
